<!DOCTYPE html>
<html>
<head>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.138.0/build/three.module.js",
                "OrbitControls": "https://unpkg.com/three@0.138.0/examples/jsm/controls/OrbitControls.js"
            }
        }

    </script>
    <meta charset="utf-8">
    <title>My first three.js app</title>
    <style>
        body {
            margin: 0;
        }
    </style>
</head>
<body>
<div class="btn-box">
    <div class="auto-container">
        <button class="btn btn-success" style="margin: 5px" id="btn1">living room1</button>
        <button class="btn btn-success" style="margin: 5px" id="btn2">living room2</button>
        <button class="btn btn-success" style="margin: 5px" id="btn3">lobby</button>
        <button class="btn btn-success" style="margin: 5px" id="btn4">bed room</button>
        <button class="btn btn-success" style="margin: 5px" id="btn5">basement1</button>
        <button class="btn btn-success" style="margin: 5px" id="btn6">basement2</button>
        <button class="btn btn-success" style="margin: 5px" id="btn7">balcony</button>
        <button class="btn btn-success" style="margin: 5px" id="btn8">door</button>
    </div>
</div>

<div id="container" style="height: 100%; ">
</div>



</body>
<script type="module">
    import * as THREE from 'three';
    import {OrbitControls} from 'OrbitControls';
    // let img1 = require('./vr1.jpg')
    // let img2 = require('./vr2.jpg')
    const scene = new THREE.Scene();
    const ax = new THREE.AxesHelper(500)
     // scene.add(ax)
    const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 1100);
    camera.position.set(0, 0, 1)
    const textureLoader = new THREE.TextureLoader()
    // const texture1 = textureLoader.load('../static/images/accommodations/0/bed/15_b.jpg')
    const geometry = new THREE.BoxGeometry(100, 100, 100)
    geometry.scale(-1, 1, 1)
    const pathArr1 = [
        '../images/accommodations/9/main/30_r.jpg',
        '../images/accommodations/9/main/30_l.jpg',
        '../images/accommodations/9/main/30_u.jpg',
        '../images/accommodations/9/main/30_d.jpg',
        '../images/accommodations/9/main/30_f.jpg',
        '../images/accommodations/9/main/30_b.jpg'
    ]
    const pathArr2 = [
        '../images/accommodations/9/main2/45_r.jpg',
        '../images/accommodations/9/main2/45_l.jpg',
        '../images/accommodations/9/main2/45_u.jpg',
        '../images/accommodations/9/main2/45_d.jpg',
        '../images/accommodations/9/main2/45_f.jpg',
        '../images/accommodations/9/main2/45_b.jpg'
    ]
    const pathArr3 = [
        '../images/accommodations/9/lobby/17_r.jpg',
        '../images/accommodations/9/lobby/17_l.jpg',
        '../images/accommodations/9/lobby/17_u.jpg',
        '../images/accommodations/9/lobby/17_d.jpg',
        '../images/accommodations/9/lobby/17_f.jpg',
        '../images/accommodations/9/lobby/17_b.jpg'
    ]
    const pathArr4 = [
        '../images/accommodations/9/bed/39_r.jpg',
        '../images/accommodations/9/bed/39_l.jpg',
        '../images/accommodations/9/bed/39_u.jpg',
        '../images/accommodations/9/bed/39_d.jpg',
        '../images/accommodations/9/bed/39_f.jpg',
        '../images/accommodations/9/bed/39_b.jpg'
    ]
    const pathArr5 = [
        '../images/accommodations/9/basement2/1_r.jpg',
        '../images/accommodations/9/basement2/1_l.jpg',
        '../images/accommodations/9/basement2/1_u.jpg',
        '../images/accommodations/9/basement2/1_d.jpg',
        '../images/accommodations/9/basement2/1_f.jpg',
        '../images/accommodations/9/basement2/1_b.jpg'
    ]
    const pathArr6 = [
        '../images/accommodations/9/basement/5_r.jpg',
        '../images/accommodations/9/basement/5_l.jpg',
        '../images/accommodations/9/basement/5_u.jpg',
        '../images/accommodations/9/basement/5_d.jpg',
        '../images/accommodations/9/basement/5_f.jpg',
        '../images/accommodations/9/basement/5_b.jpg'
    ]
    const pathArr7 = [
        '../images/accommodations/9/bal/16_r.jpg',
        '../images/accommodations/9/bal/16_l.jpg',
        '../images/accommodations/9/bal/16_u.jpg',
        '../images/accommodations/9/bal/16_d.jpg',
        '../images/accommodations/9/bal/16_f.jpg',
        '../images/accommodations/9/bal/16_b.jpg'
    ]
    const pathArr8 = [
        '../images/accommodations/9/door/18_r.jpg',
        '../images/accommodations/9/door/18_l.jpg',
        '../images/accommodations/9/door/18_u.jpg',
        '../images/accommodations/9/door/18_d.jpg',
        '../images/accommodations/9/door/18_f.jpg',
        '../images/accommodations/9/door/18_b.jpg'
    ]

    const material = pathArr1.map(path => {
        const map = textureLoader.load(path)
        return new THREE.MeshBasicMaterial({
            map
        })
    })
    const material2 = pathArr2.map(path => {
        const map = textureLoader.load(path)
        return new THREE.MeshBasicMaterial({
            map
        })
    })
    const material3 = pathArr3.map(path => {
        const map = textureLoader.load(path)
        return new THREE.MeshBasicMaterial({
            map
        })
    })
    const material4 = pathArr4.map(path => {
        const map = textureLoader.load(path)
        return new THREE.MeshBasicMaterial({
            map
        })
    })
    const material5 = pathArr5.map(path => {
        const map = textureLoader.load(path)
        return new THREE.MeshBasicMaterial({
            map
        })
    })
    const material6 = pathArr6.map(path => {
        const map = textureLoader.load(path)
        return new THREE.MeshBasicMaterial({
            map
        })
    })
    const material7 = pathArr7.map(path => {
        const map = textureLoader.load(path)
        return new THREE.MeshBasicMaterial({
            map
        })
    })
    const material8 = pathArr8.map(path => {
        const map = textureLoader.load(path)
        return new THREE.MeshBasicMaterial({
            map
        })
    })

    const cube1 = new THREE.Mesh(geometry, material)
    const cube2 = new THREE.Mesh(geometry, material2)
    const cube3 = new THREE.Mesh(geometry, material3)
    const cube4 = new THREE.Mesh(geometry, material4)
    const cube5 = new THREE.Mesh(geometry, material5)
    const cube6 = new THREE.Mesh(geometry, material6)
    const cube7 = new THREE.Mesh(geometry, material7)
    const cube8 = new THREE.Mesh(geometry, material8)

    scene.add(cube8)
    const renderer = new THREE.WebGLRenderer()
    renderer.setSize(window.innerWidth, window.innerHeight)
    document.getElementById('container').replaceChildren(renderer.domElement)
    const controls = new OrbitControls(camera, renderer.domElement)
    controls.zoomSpeed = 0

    function animation() {
        controls.update()
        renderer.render(scene, camera)
        requestAnimationFrame(animation)
    }

    window.addEventListener('resize', () => {
        camera.aspect = window.innerWidth / window.innerHeight
        camera.updateProjectionMatrix()
        renderer.setSize(window.innerWidth, window.innerHeight)
        renderer.setPixelRatio(window.devicePixelRatio)
    })

    document.getElementById('btn1').onclick = function (){
        scene.clear()
        scene.add(cube1)
    }
    document.getElementById('btn2').onclick = function (){
        scene.clear()
        scene.add(cube2)
    }
    document.getElementById('btn3').onclick = function (){
        scene.clear()
        scene.add(cube3)
    }
    document.getElementById('btn4').onclick = function (){
        scene.clear()
        scene.add(cube4)
    }
    document.getElementById('btn5').onclick = function (){
        scene.clear()
        scene.add(cube5)
    }
    document.getElementById('btn6').onclick = function (){
        scene.clear()
        scene.add(cube6)
    }
    document.getElementById('btn7').onclick = function (){
        scene.clear()
        scene.add(cube7)
    }
    document.getElementById('btn8').onclick = function (){
        scene.clear()
        scene.add(cube8)
    }

    animation()

</script>
</html>